@font-face {
    font-family: 'Amiri';
    src: url('Amiri-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amiri';
    src: url('Amiri-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
