@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animate-fade-in {
    animation: fade-in 1s ease-in-out;
  }
  /* CSS لإضافة تأثير الدوران */
.rotate {
    transition: transform 0.5s ease;
}

.rotate:hover {
    transform: rotate(360deg); /* تدوير الشعار 360 درجة */
}
@media print {
    /* إخفاء النافبار والفوتر وزر الطباعة عند الطباعة */
    .hide-on-print {
        display: none !important;
    }
     /* إخفاء الـ URL الذي يظهر في الأسفل أو في أي مكان آخر */
  .url, .page-url {
    display: none;
}
    
}
@media print {
  footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding: 10px;
    background-color: white;
    font-size: 12px;
    width: auto; 
  }
}


 